<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!-- TimeOut 60 sec -->
        <setting name="defaultStatementTimeout" value="60000"/>
    </settings>

    <mappers>
        <mapper resource="mybatis/sql/WfsCommonMapper.xml" />
        <mapper resource="mybatis/sql/DspWorkInfoQuery.xml" />
        <mapper resource="mybatis/sql/LotQueryMapper.xml" />
        <mapper resource="mybatis/sql/WipStatQuery.xml" />
        <mapper resource="mybatis/sql/SorterJobQuery.xml" />
        <mapper resource="mybatis/sql/TransferJobQuery.xml" />
        <mapper resource="mybatis/sql/WorkJobQuery.xml" />
        <mapper resource="mybatis/sql/WorkJobSlotInfoQuery.xml" />
        <mapper resource="mybatis/sql/WorkJobCellInfoQuery.xml" />
        <mapper resource="mybatis/sql/WorkStatQuery.xml" />
        <mapper resource="mybatis/sql/EqpQuery.xml" />
        <mapper resource="mybatis/sql/ToolQuery.xml" />
        <mapper resource="mybatis/sql/LotQuery.xml" />
    </mappers>

</configuration>
