<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!-- TimeOut 60 sec -->
        <setting name="defaultStatementTimeout" value="60000"/>
    </settings>

    <mappers>
<!--        <mapper resource="/mybatis/query/wfsQuery.xml" />-->
<!--        <mapper resource="/mybatis/query/wipStatQuery.xml" />-->
<!--        <mapper resource="/mybatis/query/sorterJobQuery.xml" />-->
<!--        <mapper resource="/mybatis/query/transferJobQuery.xml" />-->
<!--        <mapper resource="/mybatis/query/workJobQuery.xml" />-->
<!--        <mapper resource="/mybatis/query/workJobSlotInfoQuery.xml" />-->
<!--        <mapper resource="/mybatis/query/workJobCellInfoQuery.xml" />-->
<!--        <mapper resource="/mybatis/query/workStatQuery.xml" />-->
        <mapper resource="mybatis/sql/eqpQuery.xml" />
    </mappers>

</configuration>
